.by-types{
    display: flex;
    justify-content: space-between;
}
.links{
    display: flex;
    flex-direction: column;
    gap: 5px;

}
.btn-types{
    height: 20px;
    width: 90px;
    font-size: 10px;
}
.types-screen{
    height: 90vh;
    margin-left: 20px ;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    overflow-y: scroll;
}